node_modules
.next
out
build
dist
.vercel

tsconfig.tsbuildinfo
*.tsbuildinfo

.env
.env.local
.env.*.local

*.log
npm-debug.log*

.DS_Store
.vscode
.idea

prisma/*.db
prisma/*.db-journal

.commit_msg
